<div class="div">
  <div>
    <h1 class="text-light">Want more infos?</h1>
    <p class="mt-5 text text-light">
      If you want to know more about our course offerings, payment options, or
      other things, send us a message!
    </p>
    <button type="button" class="btn">SEND REQUEST</button>
  </div>
</div>

<div class="">
  <footer class="text-white text-center" style="background-color: #323437">
    <div class="container p-4">
      <div class="col">
        <ul>
          <h5 class="text-uppercase mb-4 p-2">OUR TEAM:</h5>
          <li class="names">Sebastian Reiserer</li>
          <li class="names">David Köberl</li>
          <li class="names">Zelimchan Kagirov</li>
          <li class="names">Can Ay</li>
          <li class="names">Mustafa Erkam Arafat</li>
        </ul>
        <div class=""></div>
        <div class="mt-4"></div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright: Group 6
    </div>
  </footer>
</div>
