<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/svg-with-js.min.css"
  integrity="sha512-W3ZfgmZ5g1rCPFiCbOb+tn7g7sQWOQCB1AkDqrBG1Yp3iDjY9KYFh/k1AWxrt85LX5BRazEAuv+5DV2YZwghag=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<section class="team-section py-5">
  <div class="container">
    <h1 class="m-1 d-flex justify-content-center team">OUR TEAM</h1>
    <h2 class="mb-5 d-flex justify-content-center">(fictional)</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
          <div class="card-body p-4">
            <div class="member-profile position-absolute w-100 text-center">
              <img
                class="rounded-circle mx-auto d-inline-block shadow-sm"
                src="https://bootdey.com/img/Content/avatar/avatar7.png"
                alt=""
              />
            </div>
            <div class="card-text pt-1">
              <h3 class="member-name mb-0 text-center font-weight-bold header">
                John Lynch
              </h3>
              <div class="mb-3 text-center title h5">Co-founder / CEO</div>
              <div>
                John Lynch, Co-founder and CEO of CodeFactory, is a visionary
                leader driving innovation and success. With a passion for
                technology and a strategic mindset, John is instrumental in
                shaping the institute's direction. His experience as an
                entrepreneur and mentor inspires the team to excel. John's
                problem-solving skills and creativity are invaluable assets,
                ensuring CodeFactory remains at the forefront of technological
                advancements. Under his guidance, the institute is poised to
                continue revolutionizing the industry and empowering individuals
                to achieve their goals in software development.
              </div>
            </div>
          </div>
          <!--//card-body-->
          <div class="card-footer theme-bg-primary border-0 text-center">
            <ul class="social-list list-inline mb-0 mx-auto">
              <li class="list-inline-item"></li>
              <li class="list-inline-item"></li>
            </ul>
            <!--//social-list-->
          </div>
          <!--//card-footer-->
        </div>
        <!--//card-->
      </div>
      <!--//col-->

      <div class="col-12 col-md-6">
        <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
          <div class="card-body p-4">
            <div class="member-profile position-absolute w-100 text-center">
              <img
                class="rounded-circle mx-auto d-inline-block shadow-sm"
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt=""
              />
            </div>
            <div class="card-text pt-1">
              <h3 class="member-name mb-0 text-center font-weight-bold header">
                Joe Thomas
              </h3>
              <div class="mb-3 text-center title h5">Co-founder / CTO</div>
              <div>
                Joe Thomas, Co-Founder and CTO of CodeFactory, is a technical
                visionary who elevates the company to new heights with his
                expertise and innovative thinking. His knowledge in software
                development and deep understanding of technologies have been
                crucial in establishing CodeFactory as a leader in the industry.
                Joe is not only an experienced technologist but also an
                inspiring team leader who motivates his colleagues to excel. His
                ability to tackle complex technical challenges and develop
                innovative solutions makes him an indispensable part of the
                company. With Joe as CTO, CodeFactory is well-positioned to
                continue developing cutting-edge technologies and shaping the
                digital future.
              </div>
            </div>
          </div>
          <!--//card-body-->
          <div class="card-footer theme-bg-primary border-0 text-center">
            <ul class="social-list list-inline mb-0 mx-auto">
              <li class="list-inline-item"></li>
            </ul>
            <!--//social-list-->
          </div>
          <!--//card-footer-->
        </div>
        <!--//card-->
      </div>
      <!--//col-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
          <div class="card-body p-4">
            <div class="member-profile position-absolute w-100 text-center">
              <img
                class="rounded-circle mx-auto d-inline-block shadow-sm"
                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                alt=""
              />
            </div>
            <div class="card-text pt-1">
              <h3 class="member-name mb-0 text-center font-weight-bold header">
                John Meyer
              </h3>
              <div class="mb-3 text-center title h5">Sales</div>
              <div>
                John Meyer, Sales Manager at CodeFactory, is a dynamic leader
                driving revenue growth and expanding the customer base with his
                strategic approach to sales. His expertise and customer-centric
                focus make him a valuable asset to the company's success.
              </div>
            </div>
          </div>
          <!--//card-body-->
          <div class="card-footer theme-bg-primary border-0 text-center">
            <ul class="social-list list-inline mb-0 mx-auto">
              <li class="list-inline-item"></li>
            </ul>
            <!--//social-list-->
          </div>
          <!--//card-footer-->
        </div>
        <!--//card-->
      </div>
      <!--//col-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
          <div class="card-body p-4">
            <div class="member-profile position-absolute w-100 text-center">
              <img
                class="rounded-circle mx-auto d-inline-block shadow-sm"
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                alt=""
              />
            </div>
            <div class="card-text pt-1">
              <h3 class="member-name mb-0 text-center font-weight-bold header">
                Anne Reid
              </h3>
              <div class="mb-3 text-center title h5">iOS Developer</div>
              <div>
                Anne Reid, iOS Developer at CodeFactory, is a skilled and
                dedicated developer who brings creativity and technical
                excellence to the team. Her expertise in iOS development and
                attention to detail ensure high-quality and user-friendly
                applications. Anne's contributions are instrumental in advancing
                CodeFactory's mobile app development efforts.
              </div>
            </div>
          </div>
          <!--//card-body-->
          <div class="card-footer theme-bg-primary border-0 text-center">
            <ul class="social-list list-inline mb-0 mx-auto">
              <li class="list-inline-item"></li>
            </ul>
            <!--//social-list-->
          </div>
          <!--//card-footer-->
        </div>
        <!--//card-->
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
          <div class="card-body p-4">
            <div class="member-profile position-absolute w-100 text-center">
              <img
                class="rounded-circle mx-auto d-inline-block shadow-sm"
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                alt=""
              />
            </div>
            <div class="card-text pt-1">
              <h3 class="member-name mb-0 text-center font-weight-bold header">
                Susy Witzocek
              </h3>
              <div class="mb-3 text-center title h5">Administration</div>
              <div>
                Susy Witzocek, Administration Manager at CodeFactory, oversees
                administrative operations, coordinates office activities, and
                supports various departments with dedication and efficiency,
                contributing to a productive work environment and the company's
                overall success.
              </div>
            </div>
          </div>
          <!--//card-body-->
          <div class="card-footer theme-bg-primary border-0 text-center">
            <ul class="social-list list-inline mb-0 mx-auto">
              <li class="list-inline-item"></li>
            </ul>
            <!--//social-list-->
          </div>
          <!--//card-footer-->
        </div>
        <!--//card-->
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
          <div class="card-body p-4">
            <div class="member-profile position-absolute w-100 text-center">
              <img
                class="rounded-circle mx-auto d-inline-block shadow-sm"
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                alt=""
              />
            </div>
            <div class="card-text pt-1">
              <h3 class="member-name mb-0 text-center font-weight-bold header">
                Caroline Grey
              </h3>
              <div class="mb-3 text-center title h5">Trainer</div>
              <div>
                Caroline Grey, Trainer at CodeFactory, is dedicated to providing
                high-quality training and mentorship to students, helping them
                develop their skills and achieve their goals in the field of
                technology. Her expertise and passion for teaching make her an
                invaluable asset to the team, inspiring students to excel and
                succeed in their learning journey. Caroline's commitment to
                excellence and her supportive approach create a positive and
                engaging learning environment at CodeFactory
              </div>
            </div>
          </div>
          <!--//card-body-->
          <div class="card-footer theme-bg-primary border-0 text-center">
            <ul class="social-list list-inline mb-0 mx-auto">
              <li class="list-inline-item"></li>
            </ul>
            <!--//social-list-->
          </div>
          <!--//card-footer-->
        </div>
        <!--//card-->
      </div>
      <!--//col-->
    </div>
    <!--//row-->
  </div>
</section>
