.title {
  font-family: "Agency FB", arial !important;
  color: #3c4858;
}

.h3 {
  font-family: "Agency FB", arial !important;
  color: #3c4858;
}

.h2 {
  font-family: "Agency FB", arial !important;
  color: #950a0a;
}

.h {
  size: 30px;
  font-family: "Agency FB", arial !important;
  color: #3c4858;
}

#image {
  justify-self: center;
  width: 100%;
}

.benefits {
  font-family: "Agency FB", arial !important;
  font-size: 30px;
  color: #950a0a;
}

.btn {
  background-color: #999999;
  color: white;
  padding: 15px 8% 15px 8%;
  font-size: 70%;
}
