<nav class="navbar navbar-expand navbar">
  <div class="container-fluid justify-content-between container mt-1">
    <div>
      <a class="navbar-brand"
        ><img src="./images/logo.png" id="logo" alt=""
      /></a>
    </div>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Alumni
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/alumni']" class="dropdown-item link" href="#"
              >Graduate`s List</a
            >
          </li>
          <li>
            <a class="dropdown-item link" [routerLink]="['/alumni1']" href="#"
              >Definition</a
            >
          </li>

          <li>
            <a [routerLink]="['/alumni2']" class="dropdown-item link" href="#"
              >Methods</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link link" routerLink="/stories" role="button">
          Stories
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Career
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/career']" class="dropdown-item link" href="#"
              >Careers</a
            >
          </li>
          <li>
            <a [routerLink]="['/career2']" class="dropdown-item link" href="#"
              >Job Listing</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Events
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/events']" class="dropdown-item link" href="#"
              >Events</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="body">
  <div class="content">
    <h1 class="mt-5 d-flex justify-content-center team">CODE FACTORY</h1>
    <h1 class="mb-3 d-flex justify-content-center title">
      BECOME A JOB-READY WEB DEVELOPER
    </h1>
  </div>
</div>
