<nav class="navbar navbar-expand navbar">
  <div class="container-fluid justify-content-between container mt-1">
    <div>
      <a class="navbar-brand"
        ><img src="./images/logo.png" id="logo" alt=""
      /></a>
    </div>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Alumni
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/alumni']" class="dropdown-item link" href="#"
              >Graduate`s List</a
            >
          </li>
          <li>
            <a class="dropdown-item link" [routerLink]="['/alumni1']" href="#"
              >Definition</a
            >
          </li>

          <li>
            <a [routerLink]="['/alumni2']" class="dropdown-item link" href="#"
              >Methods</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link link" routerLink="/stories" role="button">
          Stories
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Career
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/career']" class="dropdown-item link" href="#"
              >Careers</a
            >
          </li>
          <li>
            <a [routerLink]="['/career2']" class="dropdown-item link" href="#"
              >Job Listing</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Events
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/events']" class="dropdown-item link" href="#"
              >Events</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="body">
  <div class="content">
    <h1 class="mt-5 d-flex justify-content-center team">CODE FACTORY</h1>
    <h1 class="mb-3 d-flex justify-content-center title">
      BECOME A JOB-READY WEB DEVELOPER
    </h1>
  </div>
</div>
<div class="wrapper">
  <div class="card">
    <img
      src="https://cdn.pixabay.com/photo/2015/11/03/08/55/laptop-1019782_1280.jpg"
    />
    <div class="information">
      <h1>Intern Developer span</h1>
      <p>We gather your business and products information.</p>
      <a routerLink="/events" class="btn">Read more about it!</a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://cdn.pixabay.com/photo/2015/11/06/15/13/internet-1028794_1280.jpg"
    />
    <div class="information">
      <h1>Junior Developer</h1>
      <p>
        We gather your business and products information. We then determine the
        direction of the project and understand your goals and we combine your
        ideas with ours for an amazing website.
      </p>
      <a routerLink="events" class="btn">Read more about it!</a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://cdn.pixabay.com/photo/2020/04/30/15/34/code-5113374_1280.jpg"
    />
    <div class="information">
      <h1>What have we learned at CodeFactory?</h1>
      <p>
        At CodeFactory, you receive comprehensive education and training in Git,
        HTML5, CSS3, Bootstrap, JavaScript, Documentation, and Angular.
      </p>
      <a routerLink="/career" class="btn">Read more about it!</a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://cdn.pixabay.com/photo/2014/08/26/13/09/prater-427925_1280.jpg"
    />
    <div class="information">
      <h1>Vienna, 2015-2018</h1>
      <p>
        We gather your business and products information. We then determine the
        direction of the project and understand your goals and we combine your
        ideas with ours for an amazing website.
      </p>
      <a routerLink="/events" class="btn">Read more about it!</a>
    </div>
  </div>

  <div class="card">
    <img
      src="https://techjobsfair.com/wp-content/themes/techjobsfair/assets/images/techjobsfair-logo.png"
    />
    <div class="information">
      <h1>TechJobsFair</h1>
      <p>
        Tech Jobs Fair Vienna is the ultimate event for tech enthusiasts looking
        to advance their careers. Our fair welcomes everyone, from budding
        developers to seasoned experts, providing a platform to explore
        opportunities in various tech fields.
      </p>
      <a routerLink="/career" class="btn">Read more about it!</a>
    </div>
  </div>

  <div class="card">
    <img
      src="https://secure.meetupstatic.com/photos/event/8/b/f/5/clean_489155829.webp"
    />
    <div class="information">
      <h1>ViennaJs</h1>
      <p>
        ViennaJS.org is dedicated to JavaScript and sharing experiences. We
        welcome all, from beginners to experts, using libraries like jQuery,
        Vue, React, Angular, Node.js, and more.
      </p>
      <a routerLink="/career" class="btn">Read more about it!</a>
    </div>
  </div>
</div>
